{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    body ul li{
        list-style: none;
    }
</style>
{% endblock %}
{% block body %}
    <body>
    <ul>
        <li><a href="{{ path('piechart') }}">PieChart</a></li>
        <li><a href="{{ path('linechart') }}">LineChart</a></li>
    </ul>
    </body>
{% endblock %}