{% extends 'base.html.twig' %}
{% block stylesheets %}
<meta charset="utf-8">
<style> /* set the CSS */

    body { font: 12px Arial;}

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

</style>
{% endblock %}
{%  block body%}
    <body>
    <br>
    <div class="row">
        <div class="col-md-5 col-lg-5" style="margin-left: 5px;" id="pieChart">
            <p class="col-xs-offset-1 col-md-offset-1"><ins><i>D3js LineChart</i></ins></p>
        </div>
        {#<div class="col-md-5 col-lg-5" style="margin-left: 5px;" id="pieChart2">#}
            {#<p class="col-xs-offset-1 col-md-offset-1"><ins><i>D3js PieChart (ii)</i></ins></p>#}
        {#</div>#}
    </div>
    </body>
{% endblock %}
{% block javascripts %}
<script src="//d3js.org/d3.v3.js"></script>
<script src="{{ asset('javascript/dsLinechart1.js') }}"></script>
<script>
    dsLineChart();
</script>

{% endblock %}